---
- hosts: all
  become: yes
  tasks: 
  - name: I want install webservers on Ubuntu
    apt:
      name: apache2
      state: Present
  - name: I want to install tree on Ubuntu
    apt: 
     name: tree
    state: Present