<h1> this is my index file <h1>
<h1> my ansible node OS is: {{ansible_os_family}} <h1>
<h1> my ansible ip address: {{ansible_all_ipv4_address}}<h1>
<h1> my ansible java version: {{myjavapackonubuntu}} <h1>